
.user{
    font-family:Nunito;
    // background-color: rgb(240, 240, 240);
    background: linear-gradient(130deg, #fdcd3b 65%, #ffed4b 60%);
    
    height:100vh;
    display:flex;
    
    flex-direction: column;
    .bgcImg{
        display:flex;
        width:1300px;
        justify-content: space-between;
        margin:2rem auto;
        box-shadow: 0px 0px 99px rgb(255, 183, 28);
        border-radius: 10px;
        padding:3rem;
    }
    .logo{
        text-align:center;
        display:flex;
        flex-direction: column;
        
        align-items: center;
        h1{
            font-size:5rem;
            font-weight: bold;
            color:rgb(253, 109, 66);
            border-radius: 10px;
            span{
                
            }
        }
        h2{
            color:rgb(253, 109, 66);
            font-size:2.5rem;
            width:600px;
        }
        button{
            margin-top:8rem;
            width:250px;
            height:50px;
            font-size:1.5rem;
            background-color: rgb(114, 168, 230);
            border:none;
            color: white;
            border-radius: 5px;
            outline: none;
            transition: .3s;
        }
    }
    .user-details{
        box-shadow: 0px 0px 99px rgb(255, 183, 28);
        border-radius: 10px;
        padding:20px;
        width:1300px;
        
        display:Flex;
        justify-content: space-around;
        align-items: center;
        margin:2rem  auto;
        font-size:1.5rem;
        color:rgb(65, 65, 65);
        p{
            font-weight: bold;
        }
    }
    button:hover{
        background-color: rgb(17, 117, 231);
    }
}



@media(max-width:1274px){
    .user{
        flex-direction: column;
        .bgcImg{
            width:1000px;
        }
        .user-details{
            width:900px;
            font-size:1.2rem;
        }
    }
}


@media(max-width:990px){
    .user{
        flex-direction: column;
        .bgcImg{
            width:1000px;
            justify-content: center;
            img{
                width:300px;
            }
        }
        .logo{
            
            h1{
                font-size:2rem;
            }
            h2{
                font-size:2rem;
                width:400px;
            }
            button{
                width:180px;
                font-size:1rem;
                height:35px;
            }
        }
        .user-details{
            width:900px;
            font-size:1.2rem;
            flex-direction: column;
            p{
                margin:10px;
            }
        }
    }
}
@media(max-width:864px){
    .user{
        flex-direction: column;
        .bgcImg{
            width:700px;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img{
                width:200px;
                margin-top:2rem;
            }
        }
        .logo{
            
            h1{
                font-size:2rem;
            }
            h2{
                font-size:2rem;
                width:400px;
            }
            button{
                width:180px;
                font-size:1rem;
                height:35px;
                margin-top:1rem;
            }
        }
        .user-details{
            width:500px;
            font-size:1rem;
        }
    }
}
@media(max-width:545px){
    .user{
        flex-direction: column;
        .bgcImg{
            width:500px;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img{
                width:200px;
                margin-top:2rem;
            }
        }
        .logo{
            
            h1{
                font-size:2rem;
            }
            h2{
                font-size:2rem;
                width:400px;
            }
            button{
                width:180px;
                font-size:1rem;
                height:35px;
                margin-top:1rem;
            }
        }
        .user-details{
            width:400px;
            font-size:.7rem;
            flex-direction: column;
            padding:0;
            margin:1rem auto;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

@media(max-width:415px){
    .user{
        width:100%;
        flex-direction: column;
        height:100%;
        .bgcImg{
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width:300px;
            img{
                width:150px;
                margin-top:2rem;
            }
        }
        .logo{
            
            h1{
                font-size:1.3rem;
            }
            h2{
                font-size:1.3rem;
                width:300px;
            }
            button{
                width:180px;
                font-size:1rem;
                height:35px;
                margin-top:1rem;
            }
        }
        .user-details{
            width:300px;
            font-size:.7rem;
            flex-direction: column;
            padding:0;
            margin:1rem auto;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}